@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.textbox {
  width: 340px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textbox h2 {
  font-size: 40px;
  color: hsl(234, 29%, 20%);
}

.textbox p {
  color: hsl(235, 18%, 26%);
}

.ticks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tick-icon {
  width: 20px;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-label {
  font-size: 12px;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}

.email-input {
  padding: 16px;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 8px;
}

.subscribe-button {
  width: 340px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0;
  cursor: pointer;
}

.second-page {
  width: 100%;
  height: 800px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  margin-top: -80px;
}

.second-page h2 {
  font-size: 40px;
}

.close-button {
  width: 340px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}

.invalid-email {
  border: 2px solid #ff6b6b;
  background-color: #feecec;
  color: #ff6b6b;
}

.invalid-label {
  color: #ff6b6b;
}

@media screen and (min-width: 1440px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(235, 18%, 26%);
  }
  .container {
    width: 840px;
    height: 540px;
    background: hsl(0, 0%, 100%);
    border-radius: 30px;
    flex-direction: row-reverse;
  }

  .main-photo {
    height: 540px;
    width: 340px;
    margin-right: 20px;
  }

  .textbox {
    width: 380px;
    margin-top: 50px;
    margin-left: 50px;
  }
  .textbox h2 {
    font-size: 56px;
  }
  .subscribe-button {
    width: 380px;
    height: 50px;
    margin: 20px 0 20px 50px;
  }

  .form {
    margin-top: 10px;
  }
  .second-page {
    width: 440px;
    height: 440px;
    justify-content: flex-start;
    background: hsl(0, 0%, 100%);
    gap: 20px;
    padding: 50px;
    position: relative;
    border-radius: 30px;
  }
  .close-button {
    bottom: 10px;
    cursor: pointer;
  }
}
